{% extends 'layout.html' %} {% block body %}
<h3>Enter Python Code below</h3>
{% from 'helper.html' import render_field %}
<script src="{{url_for('static',filename='script.js')}}"></script>
<form action="" method="POST">
    <div class="form-group">
        {{render_field(form.code,class_="form-control",rows=10)}}
    </div>

    <button class="btn btn-primary" type="button">Run</button>
</form>
<div class="row mt-3">
    <div class="col-md-6">
            <label for="">Output</label>
            <textarea name="" id="" cols="70" rows="10"></textarea>
    </div>
    <div class="col-md-6">
            <label for="">error</label>
            <textarea name="" id="" cols="70" rows="10"></textarea>
    </div>
</div>
<img src="{{url_for('static',filename='img.jpg')}}?v=5" alt="">
{% endblock body %}
