{% extends 'layout.html' %} {% block body %}
<h1>Homepage</h1>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
         
          <h4 class="modal-title">Please Wait</h4>
        </div>
        <div class="modal-body">
          <p>While the files are being downloaded</p>
        </div>
        <div class="modal-footer">
          
        </div>
      </div>
      
    </div>
  </div>
  <div class="modal fade" id="codeRun" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
         
          <h4 class="modal-title">Please Wait</h4>
        </div>
        <div class="modal-body">
          <p>While the Code Runs</p>
        </div>
        <div class="modal-footer">
          
        </div>
      </div>
      
    </div>
  </div>
{% from 'helper.html' import render_field %}
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Modal header</h3>
    </div>
    <div class="modal-body">
        <p>One fine body…</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Save changes</button>
    </div>
</div>
<form action="" method="POST" id="formInput">
    <div class="form-group">
        {{render_field(formInput.name,class_="form-control")}}
    </div>
    <div class="form-group">
        {{render_field(formInput.fromDate,class_="form-control",role="datepicker")}}
    </div>
    <div class="form-group">
        {{render_field(formInput.toDate,class_="form-control",role="datepicker")}}
    </div>

    <div class="form-group">
        <input type="hidden" name="ref" value="ticker" />
    </div>
    <button id="jj" class="btn btn-primary" type="submit">Submit</button>
</form>
   

<script src="{{url_for('static',filename='script.js')}}"></script>
<form action="" method="POST" id="formCode">
        <div class="form-group">
                {{render_field(formCode.invest,class_="form-control")}}
            </div>
            <div class="form-group">
                {{render_field(formCode.fee,class_="form-control")}}
            </div>
    <h3>Enter Python Code below</h3>
    <div class="form-group">
        {{render_field(formCode.code,class_="form-control",id="pycode",rows=10)}}
    </div>
    <div class="form-group">
        <input type="hidden" name="ref" value="code" id="ref" />
    </div>
    <button class="btn btn-primary" type="button" id="code" {{dis}}>Run</button>
</form>
<div class="row mt-3">
    <div class="col-md-6">
        <label for="">Output</label>
        <textarea name="" id="out" cols="70" rows="10"></textarea>
    </div>
    <div class="col-md-6">
        <label for="">error</label>
        <textarea name="" id="err" cols="70" rows="10"></textarea>
    </div>
</div>
<img id="img" src="/static/{{range}}.png" alt="" />
 {% endblock
body %}
